{{#partial page}}
<div class="row">
  {{#each summaries~}}
  <div class="span3">
    <h1>{{name}}</h1>
    <h2>この7間日</h2>
    <p class="value">
      {{this_week}}<span class="last-value plus">({{last_week}} 114.8%)</span>
    </p>
    <h2>この30間日</h2>
    <p class="value">
      {{this_month}}<span class="last-value minus">({{this_month}} 69.9%)</span>
    </p>
    <h2>トータル</h2>
    <p class="value">{{all}}</p>
  </div>
  {{/each~}}
</div>
{{/partial}}
{{~> layout ~}}
