{{#*inline "page"}}
<h1>ログイン監視</h1>
<canvas id="myChart" width="400" height="100" data-chart-data="{{chart_data}}"></canvas>
<h2>履歴</h2>
<ul>
  {{#each top_data}}
  <li>
    {{date}}
    <ul>
      <li>
        成功: {{success_count}} (ip: {{success_nip}})
        <ul>
          {{#each success_vec}}
          <li>
            {{ip}} {{count}}
          </li>
          {{/each}}
        </ul>
      </li>
      <li>
        失敗: {{failed_count}} (ip: {{failed_nip}})
        <ul>
          {{#each failed_vec}}
          <li>
            {{ip}} <span class="login-failed-count">{{count}}</span>
          </li>
          {{/each}}
        </ul>
      </li>
    </ul>
  </li>
  {{/each}}
</ul>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
<script src="/js/watch-login.js" charset="utf-8"></script>
{{/inline}}
{{~> layout ~}}
